@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0CADD3;
}

.hero {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
}

.contenedor-hero-izq {
    /* background-color: rgb(255, 154, 154); */
    width: 100%;
    height: 100vh;
}

.fondo {
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section[id] {
    scroll-margin-top: 70px;
}




/* ------BARRA DE NAVEGACION------- */

.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.header {
    background-color: #ffffff;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    height: 50px;
}



.logo {
    /* background-color: red; */
    font-family: 'Montserrat';
    color: #4f4f4f;
    font-size: 50px;
    font-weight: lighter;
    text-decoration: none;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    /* margin-left: 60px; */
    transition: .2s;
    font-family: 'Bebas Neue';
    color: #4f4f4f;
    margin-left: 50px;
    position: relative;
    /* background-color: red; */
}

.navbar a.active {
    /* background-color: ; */
    color: var(--main-color);
}

.boton-contacto {
    text-decoration: none;
    font-family: 'Bebas Neue';
    color: #000000;
    font-size: 18px;
    transition: .2s;
    background-color: #cadde3;
    border-radius: 3px;
    padding: 11px;
    position: relative;
    border: none;
    outline: none;
    transition: .5s;
    overflow: hidden;

}

.boton-contacto:hover {
    color: #4f4f4f;
}

.boton-contacto span {
    position: absolute;
    background-color: #0CADD3;
    transition: .5s;
}

.boton-contacto span:nth-child(1){
    width: 100%;
    height: 3px;
    top: 0;
    left: -100%;
}

.boton-contacto span:nth-child(2){
    width: 100%;
    height: 3px;
    bottom: 0;
    right: -100%;
}

.boton-contacto span:nth-child(3){
    width: 3px;
    height: 100%;
    bottom: -100%; 
    left: 0;
}

.boton-contacto span:nth-child(4){
    width: 3px;
    height: 100%;
    top: -100%; 
    right: 0;
}

.boton-contacto:hover span:nth-child(1) {
    left: 0%;
}

.boton-contacto:hover span:nth-child(2) {
    right: 0%;
}

.boton-contacto:hover span:nth-child(3) {
    bottom: 0%;
} 

.boton-contacto:hover span:nth-child(4) {
    top: 0  ;
}


.header {
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.3s ease;
}

.header::after  {
    /* background-color: rgb(255, 0, 0); */
}


.navbar .barra-navegacion::before {
    content: "";
    height: 3px;
    width: 0%;
    background: #0CADD3;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.4s ease-out;
}

.navbar .barra-navegacion:hover:before {
    width: 100%;
}

.navbar .barra-navegacion:hover {
    color: #0CADD3
}

.barra-navegacion {
    font-size: 18px;
    text-decoration: none;
    /* margin-left: 60px; */
    transition: .2s;
    font-family: 'Bebas Neue';
    color: #4f4f4f;
    /* margin-right: 30px; */
    position: relative;
}

.barra-navegacion::before {
    content: "";
    height: 3px;
    width: 0%;
    background: #0CADD3;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.4s ease-out;
}

.barra-navegacion:hover:before {
    width: 100%;
}

.barra-navegacion:hover {
    color: #0CADD3
}








/* ------TITULOS------- */


.titulos-hero {
    /* background-color: blueviolet; */
    margin-left: 60px;
    margin-top: 270px;
}

.titulos-hero h3 {
    font-family: 'Montserrat';
    color: #4f4f4f;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.titulos-hero h1 {
    font-family: 'Montserrat';
    color: #4f4f4f;
    font-weight: bolder;
    font-size: 75px;

}




/* -------------------REDES----------------- */

.redes {
    margin-top: 200px;
    margin-left: 65px;
    display: flex;
    flex-direction: column;
    width: 2%;
    height: 10%;
}

.redes i {
    font-size: 18px;
    margin-top: 10px;
    color: #4f4f4f;
    transition: .2s;
}

.redes i:hover,
.redes i:active {
    color: var(--main-color);
    cursor: pointer;
}

.contenedor-hero-final {
    display: flex;
    /* background-color: red; */
}
.hero-final {
    margin-top: 200px;
    margin-left: 115px;
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 10%;

}

.hero-final h4 {
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 120px;
    font-family: 'Bebas Neue';
    font-weight: lighter;
    letter-spacing: .5px;
    font-size: 18px;
    color: #4f4f4f;
}

.linea-vertical {
    width: 1px; 
    height: 58px; 
    background-color: #4f4f4f; 
    margin-left: 150px;
}


.contenedor-hero-der {
    width: 100%;
    height: 100vh;
    display: flex;
}
/* .contenedor-hero-der img { */
    /* float: inline-end; */
    /* width: 100%;
    height: 90%;
    margin-top: 70px;
} */ */

.carrousel {
    position: relative;
    max-width: 48rem;
    max-width: 0 auto ;
    /* background-color: red; */
    
}

.slider {
    /* margin-left: 50%; */
    display: flex;
    aspect-ratio: 1 / 1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background-color: white;
    overflow: hidden;
}

.carrousel img {
    flex: 1 0 100%;
    scroll-snap-type: start;
    object-fit: cover;
    width: 50%;
    height: auto;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 78%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: .75;
    transition: ease 250ms ;
    left: 00%;
}

.slider-nav a:hover {
    opacity: 1;
    /* transition: opacity ease 250ms ; */

}










/* ---------------HABILIDADES------------------- */

.servicios {
    padding: 30px 30px;
    font-family: 'Montserrat';
    background-color: #cadde3;
    margin: 0 auto;
    /* height: 250px; */
    margin-bottom: 50px;
    overflow: hidden;

}

.lista-servicios {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax (250px, 1fr));
    grid-gap: 0px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.titulo-servicios h3 {
    text-align: center;
    justify-content: center;
    /* margin-left: 580px; */
    margin-top: 20px;
    font-size: 30px;
    color: #4f4f4f;
    font-weight: bold;
}

.contenedor-servicios div {
    padding: 0px 60px;
    color: #4f4f4f;
    margin-bottom: 10px;
}

.contenedor-servicios div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.contenedor-servicios div h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.contenedor-servicios div p {
    font-size: 14px;
    /* background-color: red; */
}




/* --------------PORTFOLIO--------------- */

.portfolio {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.encabezado-portfolio {
    display: flex;
}

.encabezado-portfolio {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.tab-links {
    cursor: pointer;
}

/* .tab-links:after {
    content: ' ';
    width: 0;
    height: 3px;
    background:#0CADD3;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .3s;
}

.tab-links .active-link:after {
    width: 50%;
} */




.encabezado-portfolio .navbar a {
    font-size: 18px;
    text-decoration: none;
    margin-left: 6px;
    transition: .2s;
    font-family: 'Bebas Neue';
    color: #4f4f4f;
    margin-right: 100px;
}




.portfolio h3 {
    margin-left: 50px;
    font-size: 45px;
    font-family: 'Montserrat';
    color: #4f4f4f;
}

.portfolio hr {
    color: #0CADD3;
    height: 2px;
    width: 46%;
    margin-left: 60px;
    background-color: #0CADD3;
    border-color: #0CADD3;
    margin-bottom: 40px;
}

.contenedor-portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0px 60px;
}

.contenedor-portfolio img{
    width: 100%;
    height: 260px;
    transition: .3s;
    position: relative;
    box-shadow: 0 2px 2px 0 rgb(159, 159, 159);
}

.contenedor-portfolio img:hover {
    transform: scale(1.03);
    cursor: pointer;
}


.full-img img {
    width: 90%;
    max-width: 600px;
}





.navbar a:hover {
    color: #0CADD3
}

.portfolio-completo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-completo p {
    font-family: 'Bebas Neue';
    color: #4f4f4f;
    font-size: 16px;
    margin-top: 20px;
}

.portfolio-completo p:hover {
    color: #0CADD3;
    cursor: pointer;
}




/* ------------------ABOUT ME---------------- */


.aboutme {
    padding: 0px 60px;
    /* background-color: red; */
    color: #4f4f4f;
    margin: 50px 0px;
}

.columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutme-contenedor-izq {
    margin-left: 0px;
    /* flex-basis: 35%; */
    width: 600px;
}

.aboutme-contenedor-izq img {
    width: 100%; 
}

.aboutme-contenedor-der {
    flex-basis: 50%;
    color: #4f4f4f;
    font-family: 'Montserrat';
}

.aboutme-contenedor-der h3 {
    font-size: 45px;
}

.aboutme-contenedor-der hr {
    color: #0CADD3;
    height: 2px;
    background-color: #0CADD3;
    border-color: #0CADD3;
}

.aboutme-contenedor-der h4 {
    font-family: 'Bebas Neue';
    font-weight: lighter;
    color: #4f4f4f;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.aboutme-contenedor-der p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 27px;
}

.aboutme-contenedor-der i {
    font-size: 18px;
    color: #4f4f4f;
    /* background-color: red;  */
}

.redes-sobremi {
    margin-top: 80px;
}

.redes-sobremi i {
    margin-right: 8px;
}

.redes-sobremi i:hover,
.redes-sobremi i:active {
    color: var(--main-color);
    cursor: pointer;
}








/* ----------VIDEO PRESENTACION-------------------------- */

.video-presentacion {
    margin: 50px 0px;
}

.video-presentacion h3 {
    margin-left: 60px;
    font-size: 45px;
    font-family: 'Montserrat';
    color: #4f4f4f;
}

.video-presentacion hr {
    color: #0CADD3;
    height: 2px;
    width: 45%;
    margin-left: 60px;
    background-color: #0CADD3;
    border-color: #0CADD3;
    margin-bottom: 30px;
}

.video-presentacion video {
    width: 100%;
    height: 570px;
    display: block;
}












/* -------------------FORMULARIO---------------- */

.formulario {
    font-family: 'Montserrat';
    color: #4f4f4f;
    /* margin-top: 40px; */
}

.todo-formulario {
    background-image: url('/fotos/fondo_formulario.jpg');
    background-size: cover;
}

.encabezado-formulario {
    min-width: 100%;
    min-height: 100%;
}

.formulario-fondo {
    /* background-image: url('/fondo_formulario2.jpg'); */
    /* background-size: 100%; */
    display: flex;
}
.contenedor-formulario {
    /* background-color: rgb(245, 160, 252); */
    /* background-image: url('/fondo_formulario2.jpg'); */
    height: 100%;
    width: 100%;
    display: flex;
}

.formulario h3 {
    font-size: 45px;
    margin-left: 50%;
}

.form {
    background-color: white;
    margin-left: 60px;
    width: 90%;
    max-width: 400px;
    padding: 50px;
    margin-top: 60px;
    /* padding: 4.5em 3em ; */
    height: 350px;
    margin-bottom: 60px;
}

.form h4 {
    font-size: 30px;
    margin: auto;
}

.formulario hr {
    color: #0CADD3;
    height: 2px;
    width: 46%;
    margin-left: 50%;
    background-color: #0CADD3;
    border-color: #0CADD3;
    margin-bottom: 40px;
    box-shadow: 0 5px 10px -5px rgb (0 0 0 / 50%);
    text-align: center;
}

.form-titulo {
    font-size: 2rem;
    margin-bottom: .5em;
}

.form-contenedor {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form-grupo{
    position: relative;
    --color: #5757577e
}

.form_input {
    width: 100%;
    /* background-color: blue; */
    color: #706e6e;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--main-color);
}

.form_input:not(:placeholder-shown) {
    color: #000000;
}

.form_input:focus + .form-label,
.form_input:not(:placeholder-shown) + .form-label {
    transform: translateY(-12px) scale(.7);
    /* position: absolute; */
    transform-origin: left top;
    color: #0CADD3;
}

.form-label:focus {
    transform: translateY(-12px) scale(.7);;
}

.form-label {
    position: absolute;
    top: -12px;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form-enviar {
    background-color: #0CADD3;
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
    padding: .8em;
    border: none;
    cursor: pointer;
}

.form_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    color: #000000;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form-label {
    transform: scale(1);
}

.detalles-contacto {
    font-family: 'Bebas Neue';
    font-size: 25px;
    color: white;
    font-weight: lighter;
    /* background-color: rgb(13, 255, 13); */
    margin-right: 40px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.detalles-contacto h5 {
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 60px;
}









/* --------------------FOOTER------------------ */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #000000;
}

.footer p {
    font-family: 8px;
    font-family: 'Montserrat';
    color: white;
}


